    * {
      box-sizing: border-box;
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      font-size: 30px;
      text-align: center;
    }


    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    html {
      background-color: #f0f0f0;
    }

    body {
      color: black;
      font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      padding: 1rem;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    img {
      height: auto;
      max-width: 100%;
      /* vertical-align: middle; */
    }

    .btn {
      background-color: white;
      border: 1px solid #cccccc;
      color: maroon;
      padding: 0.5rem;
    }

    .btn--block {
      display: block;
      width: 100%;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .right {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .cards__item {
      display: flex;
      padding: 1rem;

      @media(min-width: 40rem) {
        width: 50%;
      }

      @media(min-width: 56rem) {
        width: 33.3333%;
      }
    }

    .card {
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      overflow: hidden;


    }

    .card__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
    }

    .card__image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      filter: contrast(70%);
      overflow: hidden;
      position: relative;
      transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);




      @media(min-width: 40rem) {
        &::before {
          padding-top: 66.6%; // 3:2 aspect ratio
        }
      }
    }

    .highlight {
      width: 100%;
      height: 300px;
      background-color: white;
      margin-top: 26px;
    }

    .pineapple {
      background-color: white;
      width: 400px;
      height: 100px;
      padding: 2px;
      margin-bottom: 9px;
      font-size: 15px;
      text-align: left;
    }

    #coffee {
      float: right;
      height: 100px;
    }

    #TRAVEL,
    #FASHION {
      color: black;
      font-size: 20px;
      text-align: left;
      font-weight: bold;

    }

    .card__title {
      color: gray-dark;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .card__text {
      flex: 1 1 auto;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
    }

    #pine {
      float: right;
      width: 100px;
      height: 100px;
    }


    .flex-item-left {
      background-color: white;
      padding: 10px;
      flex: 50%;
    }

    #LIFESTYLE,
    #ENTERTAIN {
      font-weight: bold;
      font-size: 20px;
      color: black;
    }

    .flex-item-right {
      background-color: white;
      padding: 10px;
      flex: 50%;
    }

    .flex-item-center {
      background-color: white;
      padding: 10px;
      flex: 50%;
    }

    .gallery {
      max-width: 960px;
      margin: 0 auto;
      font-size: 15px;
      color: black;
      text-align: left;
    }

    .photos {
      display: flex;
      background-color: white;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      padding: 0;
      max-width: 980px;
    }

    .photos img {
      display: block;
      float: right;
      flex: 0 0 auto;
      background-color: #fff;
    }


    @media screen and (min-width: 1024px) {
      .photos img {
        width: calc(100%/6);
        height: calc(100%/6);
      }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      .photos img {
        width: calc(100%/4);
        height: calc(100%/4);
      }
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      .photos img {
        width: calc(100%/3);
        height: calc(100%/3);
      }
    }

    @media screen and (min-width: 321px) and (max-width: 480px) {
      .photos img {
        width: calc(100%/2);
        height: calc(100%/2);
      }
    }

    @media screen and (max-width: 320px) {
      .photos img {
        width: 100%;
        height: 100%;
      }
    }

    /* Responsive layout - makes a one column-layout instead of two-column layout */
    @media (max-width: 800px) {
      .flex-container {
        flex-direction: column;
      }
    }
